<div class="container">
  <!-- <h1>Data Binding-Interpolation</h1> -->
  <!-- <h1>Data Binding-Attribute Binding</h1> -->
  <!-- <h1>Data Binding-Props Binding</h1> -->
  <h1>Data Binding - Event Handling</h1>

  <div class="row">
    <!-- <app-greeter></app-greeter> -->
    <div class="col-4">
      <!-- <app-customer></app-customer> -->
      <!-- <app-attributebinding></app-attributebinding> -->
      <!-- <app-parent></app-parent> -->
      <app-eventsbinding></app-eventsbinding>
    </div>
  </div>
</div>