<div class="container header">
  <!-- <h1>Data Binding-Interpolation</h1> -->
  <!-- <h1>Data Binding-Attribute Binding</h1> -->
  <!-- <h1>Data Binding-Props Binding</h1> -->
  <!-- <h1>Data Binding - Event Handling</h1> -->
  <!-- <h1>Data Binding - Custom Events - Using Event Emitter</h1> -->
  <!-- <h1 class="myheader">Data binding- Template Reference Variable</h1> -->
  <!-- <h1 class="myheader">Data binding- Dynamic css</h1> -->
  <!-- <h1>Data binding - Pipes</h1> -->
  <!-- <h1>Data Binding -Structural Directives</h1> -->
  <!-- <h1>Data binding - Attribute Directives</h1> -->
  <h1>Forms</h1>

  <div class="row">
    <!-- <app-greeter></app-greeter> -->
    <!-- <div class="col-4"> -->
      <!-- <app-customer></app-customer> -->
      <!-- <app-attributebinding></app-attributebinding> -->
      <!-- <app-parent></app-parent> -->
      <!-- <app-eventsbinding></app-eventsbinding> -->
      <!-- <app-parenteventemitter></app-parenteventemitter> -->
      <!-- <app-templatereference></app-templatereference> -->
      <!-- <app-dynamiccss></app-dynamiccss> -->
      <!-- <app-pipe></app-pipe> -->
      <!-- <app-conditionalrendering></app-conditionalrendering> -->
      <!-- <app-customattributedirective></app-customattributedirective> -->
      <app-forms></app-forms>
    <!-- </div> -->
  </div>
</div>